@charset "UTF-8";
/* starterに記述しておく */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 16px;
  letter-spacing: 0.04rem;
  color: #333333;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 80px 40px;
}

a {
  text-decoration: none;
  color: #ffffff;
}

li {
  list-style: none;
}

button {
  background: none;
  border: none;
}

img {
  vertical-align: bottom;
  width: 100%;
}

h3 {
  font-size: 24px;
  color: #5ea9b5;
  line-height: 35px;
}

p {
  line-height: 23px;
}

.section-title {
  font-size: 40px;
  font-weight: bold;
  color: #333333;
  text-align: center;
}

.section-subtitle {
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.arrow {
  height: 16px;
  width: auto;
  margin-left: 10px;
  vertical-align: text-top;
}

/* ここから解答させる */
/* ヘッダー */
.header {
  padding: 22px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  background-color: #5ea9b5;
}

.header-inner {
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-title {
  font-size: 24px;
}

.header-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.header-li:last-child {
  border: 1px solid #ffffff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.header-link {
  color: #ffffff;
}

.header-link:last-child {
  padding: 10px 28px;
}

/* ファーストビュー */
.firstview-inner {
  position: relative;
}

.firstview-img {
  height: 100vh;
}

.firstview-text-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
  height: 100vh;
}

.firstview-inner::after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 100vh;
  bottom: 0px;
  left: 30vw;
  z-index: 10;
  border-bottom: 100vh solid #ffffff;
  border-right: 20vw solid transparent;
}

.firstview-title {
  color: #5ea9b5;
  font-size: 48px;
  font-weight: bold;
}

.firstview-text {
  margin-top: 16px;
  font-size: 24px;
  width: 350px;
}

/* サービス */
.service {
  background-color: #d7e9ed;
}

.service-ul {
  background-color: #ffffff;
  padding: 40px;
}

.service-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 60px;
}

.service-li:last-child {
  margin-bottom: 0;
}

.service-li:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.service-title {
  font-size: 24px;
  font-weight: 700;
  color: #5ea9b5;
  border-left: 3px solid #5ea9b5;
  padding-left: 24px;
}

.service-text {
  margin-top: 40px;
  font-size: 18px;
  text-align: left;
}

.service-btn {
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}

.service-link {
  color: #ffffff;
  background-color: #5ea9b5;
  display: inline-block;
  margin: 34px auto 0;
  padding: 10px 38px;
}

/* 制作の流れ */
.flow-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}

.flow-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.flow-number {
  width: 80px;
  height: 80px;
  font-size: 24px;
  font-weight: bold;
  background-color: #5ea9b5;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

/* プラン */
.plan {
  background-color: #d7e9ed;
}

.plan-table {
  text-align: center;
  border-spacing: 8px;
}

.plan th {
  background-color: #5ea9b5;
  color: white;
}

.plan td {
  background-color: #f4f4f4;
}

.plan .table-header-first {
  background-color: #f4f4f4;
  color: #333333;
}

.plan th,
td {
  height: 70px;
  width: 234px;
}

/* 会社概要 */
.company-dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #cacaca;
}

.company-dt {
  color: #5ea9b5;
  font-weight: bold;
  padding: 24px 12px;
  width: 240px;
}

.company-dd {
  padding: 24px 12px;
}

/* お問い合わせ */
.contact-inner {
  position: relative;
}

.contact-img {
  width: auto;
  height: 688px;
}

.contact-text-box {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 30vw;
  height: 100%;
  background-color: #d7e9ed;
}

.contact-inner::after {
  content: " ";
  display: block;
  position: absolute;
  width: 0;
  height: 100%;
  bottom: 0px;
  right: 30vw;
  z-index: 10;
  border-bottom: 688px solid #d7e9ed;
  border-left: 20vw solid transparent;
}

.contact-title {
  color: #5ea9b5;
  margin-bottom: 16px;
}

.contact-text {
  font-size: 20px;
  margin-bottom: 40px;
}

.contact-btn {
  background-color: #ffffff;
  border-radius: 100px;
}

.contact-link {
  display: inline-block;
  font-size: 24px;
  color: #5ea9b5;
  font-size: 24px;
  padding: 12px 32px;
}

.contact-arrow {
  margin-top: 5px;
}

/* フッター */
.footer {
  background-color: #5ea9b5;
  color: #ffffff;
}

.footer-inner {
  padding: 63px 0px;
}

.footer-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-bottom: 40px;
}

.footer-li {
  padding: 0 16px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
}

.footer-copyright {
  text-align: center;
}/*# sourceMappingURL=style.css.map */