*{margin:0;padding:0}body{font-family:"Noto Sans JP",sans-serif;font-size:16px;letter-spacing:.04rem;color:#333;-webkit-box-sizing:border-box;box-sizing:border-box}.wrapper{max-width:1040px;margin:0 auto;padding:80px 40px}a{text-decoration:none}li{list-style:none}img{vertical-align:bottom;width:100%}h3{font-size:24px;color:#5ea9b5;line-height:35px}p{line-height:23px}.section-title{font-size:40px;font-weight:bold;color:#333;text-align:center}.section-subtitle{font-weight:bold;text-align:center;margin-bottom:40px}.section-ul{max-width:960px}.header{padding:22px 0;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;color:#fff;background-color:#5ea9b5}.header-inner{width:100%;max-width:1040px;margin:0 auto;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between;-webkit-box-align:center;-ms-flex-align:center;align-items:center}.site-title{font-size:24px}.header-ul{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-column-gap:20px;-moz-column-gap:20px;column-gap:20px}.header-li:last-child{border:1px solid #fff;padding:10px 48px 10px 28px;position:relative}.header-li:last-child ::before{content:"";width:6px;height:6px;border:0px;border-top:solid 2px #fff;border-right:solid 2px #fff;-webkit-transform:rotate(45deg);transform:rotate(45deg);position:absolute;top:50%;right:28px;margin-top:-4px}.header-link{color:#fff}.firstview-inner{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:justify;-ms-flex-pack:justify;justify-content:space-between}.firstview-text-box{padding-left:8%}.firstview-title{color:#5ea9b5;font-size:48px;font-weight:bold}.firstview-text{margin-top:16px;font-size:24px;width:350px}.firstview-img-box{position:relative}.service{background-color:#d7e9ed}.service-ul{background-color:#fff;padding:40px}.service-li{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-column-gap:36px;-moz-column-gap:36px;column-gap:36px;-webkit-box-align:center;-ms-flex-align:center;align-items:center;margin-bottom:60px}.service-li:last-child{margin-bottom:0}.service-li:nth-child(even){-webkit-box-orient:horizontal;-webkit-box-direction:reverse;-ms-flex-direction:row-reverse;flex-direction:row-reverse}.service-title{font-size:24px;font-weight:700;color:#5ea9b5;border-left:3px solid #5ea9b5;padding-left:24px}.service-text{margin-top:40px;font-size:18px;text-align:left}.service-center{text-align:center}.service-link{margin-top:34px;color:#fff;background-color:#5ea9b5;padding:10px 38px;display:inline-block;text-align:center;position:relative}.service-link::before{content:"";width:6px;height:6px;border:0px;border-top:solid 2px #fff;border-right:solid 2px #fff;-webkit-transform:rotate(45deg);transform:rotate(45deg);position:absolute;top:50%;right:20px;margin-top:-4px}.flow-ul{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-direction:column;flex-direction:column;row-gap:60px}.flow-li{display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-column-gap:24px;-moz-column-gap:24px;column-gap:24px}.flow-number{width:80px;height:80px;font-size:24px;font-weight:bold;background-color:#5ea9b5;color:#fff;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-ms-flex-align:center;align-items:center;border-radius:50%}.plan{background-color:#d7e9ed}.plan-table{text-align:center;border-spacing:8px}.plan th{background-color:#5ea9b5;color:#fff}.plan td{background-color:#f4f4f4}.plan .table-header-first{background-color:#f4f4f4;color:#333}.plan th,td{height:70px;width:234px}.company-dl{display:-webkit-box;display:-ms-flexbox;display:flex;border-bottom:1px solid #cacaca}.company-dt{color:#5ea9b5;font-weight:bold;padding:24px 12px;width:240px}.company-dd{padding:24px 12px}/*# sourceMappingURL=style.css.map */al;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 60px;
}

.flow-li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 24px;
     -moz-column-gap: 24px;
          column-gap: 24px;
}

.flow-number {
  width: 80px;
  height: 80px;
  font-size: 24px;
  font-weight: bold;
  background-color: #5ea9b5;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}

/* プラン */
.plan {
  background-color: #D7E9ED;
}

.plan-table {
  text-align: center;
  border-spacing: 8px;
}

.plan th {
  background-color: #5EA9B5;
  color: white;
}

.plan td {
  background-color: #F4F4F4;
}

.plan .table-header-first {
  background-color: #F4F4F4;
  color: #333333;
}

.plan th, td {
  height: 70px;
  width: 234px;
}

/* 会社概要 */
.company-dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #CACACA;
}

.company-dt {
  color: #5EA9B5;
  font-weight: bold;
  padding: 24px 12px;
  width: 240px;
}

.company-dd {
  padding: 24px 12px;
}/*# sourceMappingURL=style.css.map */